<header class="fixed top-0 left-0 h-16 w-full bg-white dark:bg-gray-900 text-gray-800 dark:text-white shadow-2xl 
               z-40 flex items-center px-6 transition-colors">
  <a href="/">
    <img src="/logo.png" alt="Logo" class="h-10 transition-colors">
  </a>
</header>
